<html>
    <body>

    <form action="/buy" method="post">


        <div class="row">

        	<div class="span6">
        	    <form method="POST">

                    <div class="form-group">
                        <textarea name="coin_fullname" cols="50" rows="10" placeholder="coin_fullname e.g. bitcoin"></textarea>
                    </div>

                    <label for="date">Start date</label>
        	        <input type="date" name="start_date" id="start_date">
        	        <br>

                    <label for="date">End date</label>
        	        <input type="date" name="end_date" id="end_date">
        	        <br>

        	        <input type="submit" value="Add Date">
        	    </form>
        	</div>
        </div>


    </form>

    </body>
</html>
